* {
    margin:0;
    padding:0;
    border:0 none;
    position: relative; 
    outline: none;
    font-size: 10px;
}

body{
    font-family: 'Comfortaa', cursive;
    background-color: #E9F1F7;
}

header{
    background-color: #000000;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    text-transform: uppercase;
    max-width: 60vw;
    margin: auto;
}

nav div{
    padding: 2rem;

}

nav div:hover{
    background-color: #A6B1E1;

}

nav div a{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}

main{
    width: 60vw;
    margin: auto;
    margin-top: 10rem;
}

.text{
    margin-bottom: 3rem;
}

.text p{
    margin-bottom: 2rem;
    font-size: 2rem;
}

#galleri-sektion{
    display: none;
}



h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2{
    font-size: 2rem;
}





footer {
    background-color: black;
    bottom: 0;
    width: 100vw;
    position: fixed;
}

footer section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    text-transform: uppercase;
    max-width: 70vw;
    margin: auto;
    padding: 1.5rem 0rem 1.5rem 0rem;
}

footer section section{
    color: #fff;
}

footer p,
footer a{
    font-size:  1.7rem;
}

#kontakt-footer,
#hitta-hit{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#kontakt-footer p,
#hitta-hit p{
    padding: 1rem;
}

#kontakt-footer p a,
#hitta-hit p a{
    text-decoration: none;
    color: #fff;
}

#map {
    display: none;
    height: 20rem;  
    width: 40rem;  
}
